<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gothadubai.incubasys.com.gothadubai">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <application
        android:name=".GothaDubaiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <provider android:authorities="com.facebook.app.FacebookContentProvider1234"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

        <activity android:name=".SplashActivity" android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/deeplink_redirect_scheme"/>
                <data android:host="@string/deeplink_redirect_host"/>
            </intent-filter>
        </activity>
        <!--<service android:name=".NotificationListener"/>-->
        <service
            android:name=".GothaFirebaseInstanceIDService"  android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".GothaFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:name=".VideosListviewActivity" android:screenOrientation="portrait"/>
        <activity android:name=".CreditsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PhotoGalleryActivity" android:screenOrientation="portrait"/>
        <activity android:name=".CameraActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PartnerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PhotoPreviewActivity" android:screenOrientation="portrait"/>
        <activity android:name=".TableBookingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".AboutUsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".EventActivity" android:screenOrientation="portrait"/>
        <activity android:name=".HomeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".VideoPlayerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".NotificationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BookingTableWebViewActivity" android:screenOrientation="portrait"/>

    </application>

</manifest>